#tflite-runtime  # Questa è la libreria più leggera e veloce
Pillow
Flask
numpy==1.21.6 # <--- FORZA QUESTA VERSIONE per compatibilità con tflite-runtime 2.5.0
requests
gunicorn  # Per la produzione (opzionale)